<h1>Hello <%= @patient.name %>,</h1>
<p>Your appointment with <%= @doctor.name %> at <%= @hospital.name %> on <%= @appointment.date.strftime("%B %d, %Y at %I:%M %p") %> has been <strong>cancelled</strong>.</p>
<p>If you wish, you can book another appointment at your convenience.</p>
